---
---
// fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}
a {
  text-decoration: none;
}
.navbar-dark {
  background-color: #0E0E0E;
  color: #ffffff;
  .navbar-toggler {
    border: none!important;
    color: #ffffff;
  }
}
.page-intro {
  min-height: 50vh;
}
.section-dark {
  background-color: #0E0E0E;
  color: #ffffff;
}
.offcanvas {
  width: 100%;
}
.nav-link {
  color: #0E0E0E!important;
}
.offcanvas-end {
  border-left: none;
}
.py-160 {
  padding-top: 160px;
  padding-bottom: 160px;
}
.banner {
  background-color: #0E0E0E;
  padding-top: 90px;
  margin-top: -90px;
  .card {
    border: none;
    border-radius: none ;
  }
  .carousel {
    margin-bottom: -90px;
    .carousel-caption {
      text-align: left;
      h2 {

      }
    }
    .carousel-indicators {
      button {
      height: 20px;
      background-color: transparent;
      color: #ffffff;
      }
    }
  }
}
.borderless {
  border: 0px solid transparent!important;
}
.mt-n30, .my-n30 {
  margin-top: -30px!important;
}
.mb-n10, .my-n10 {
  margin-bottom: -10px!important;
}
.pb-130, .py-130 {
  padding-bottom: 130px!important;
}
.pt-100, .py-100 {
  padding-top: 100px!important;
}
.img-zoom {
  overflow: hidden!important;
  img {
  transition: transform .5s ease;
  &:hover {
    transform: scale(1.1);
  }
}
}
.section-black {
  background-color: #0E0E0E;
  min-height: 50vh;

  .row-cols-1 {
    margin-top: -200px;
  }

  a {
    .card {
      border-radius: 0;
      border: none;
      color: #0E0E0E;
      text-decoration: none;
      h5 {
        text-decoration: none;
      }
      p {
        text-decoration: none;
      }
      img {
        border-radius: 0;
      }
      .card-footer {
        background-color: #ffffff;
        border: none;
        font-size: 28px;
      }
    }
  }
}