<section class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <img class="img-fluid animate__animated animate__fadeInLeft imageEnlarge" data-bs-toggle="modal" data-bs-target="#{{ section.image.alt | slugify}}" src="{{ site.cloudinary_url }}/c_scale,w_600{{ section.image.image }}" alt="{{ section.image.alt }}">
        </div>
        <div class="col-12 col-md-6 d-flex align-items-center">
            <p class="animate__animated animate__fadeInRight">{{ section.text }}</p>
        </div>
    </div>
</section>

  
<!-- Modal -->
<div class="modal fade" id="{{ section.image.alt | slugify}}" tabindex="-1"
    aria-labelledby="{{ section.image.alt }} - Enlarged" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img src="{{ site.cloudinary_url }}{{ section.image.image }}" alt="{{ section.image.alt }} - Enlarged"
                    class="img-fluid">
            </div>
        </div>
    </div>
</div>