<div class="w-100 my-3 h-auto">
    {% if section.title %}<h2>{{ section.title }}</h2>{% endif %}
    <div class="swiper carouselSwiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            {% for image in section.images %}
            <div class="swiper-slide"><img src="{{ site.cloudinary_url }}c_scale,h_400{{ image.image }}"
                    class="img-fluid"></div>
            {% endfor %}
        </div>
    </div>
</div>
