<section class="container-fluid p-4 {% if section.background == "Dark" %}section-black{% endif %}">
    <div class="row">
        <div class="col">
            <figure class="figure">
                <img class="figure-img img-fluid {% if section.enlarge %}imageEnlarge" data-bs-toggle="modal" data-bs-target="#{{ section.image.alt | slugify}}" {% else %}"{% endif %} alt="{{ section.image.alt }}" src="{{ site.cloudinary_url }}{{ section.image.image }}">
                {% if section.image.caption %}
                <figcaption class="figure-caption">{{ section.image.caption}}</figcaption>
                {% endif %}
            </figure>
        </div>
    </div>
</section>

{% if section.enlarge %}
<div class="modal fade" id="{{ section.image.alt | slugify}}" tabindex="-1"
    aria-labelledby="{{ section.image.alt }} - Enlarged" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img src="{{ site.cloudinary_url }}{{ section.image.image }}" alt="{{ section.image.alt }} - Enlarged"
                    class="img-fluid">
            </div>
        </div>
    </div>
</div>
{% endif %}