{% for section in page.sections %}
  {% if section.template == "image-right" %}
    {% include _blocks/image_right.html %}
  {% elsif section.template == "image-right-dark" %}
    {% include _blocks/image_right_dark.html %}
  {% elsif section.template == "text" %}
    {% include _blocks/text.html %}
  {% elsif section.template == "image-full-width" %}
    {% include _blocks/image_full_width.html %}
  {% elsif section.template == "image-left" %}
    {% include _blocks/image_left.html %}
  {% elsif section.template == "image-carousel" %}
    {% include _blocks/image-carousel.html %}
  {% elsif section.template == "image-carousel-small" %}
    {% include _blocks/image-carousel-small.html %}
  {% elsif section.template == "brands" %}
    {% include _blocks/brands.html %}
{% endif %}
{%endfor%}