<div class="banner px-5">
    <div class="container">
        <div class="row">
            <div class="col-10 offset-md-1">
                <div id="homeBanner" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for slide in page.banner %}
                      <div class="carousel-item active">
                        <img src="{{ site.cloudinary_url }}c_crop,{{ slide.image_gravity }},h_1080,w_1920{{ slide.image }}" class="d-block w-100" alt="{{ slide.image_alt }}"><div class="carousel-caption d-none d-md-block">
                        <div class="carousel-caption d-none d-md-block">
                            <h2>{{ slide.title }}</h2>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#homeBanner" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#homeBanner" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </div>
    </div>
    
</div>

