<div class="banner px-5">
    <div class="container">
        <div class="row">
            <div class="col-10 offset-md-1">
                <a class="card" href="#">
                    <span class="card-img">
                        <img class="img-fluid" src="https://runwebrun.com/themebau/assets/images/portfolio/colibri-creative-1920-1080.jpg">
                    </span>
                <span class="card-img-overlay">
                    <h2>Nikon Europe</h2>
                </span>
                </a>
            </div>
        </div>
    </div>
    
</div>