<nav class="navbar p-4 {% if page.title == "Home" %}navbar-dark{% else %}navbar-light{% endif %}">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ site.url }}">Naaman Hudson</a>
      <button class="navbar-toggler borderless" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <i class="fa fa-regular fa-plus"></i>
      </button>
      <div class="offcanvas offcanvas-end text-black" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex ">
          <ul class="navbar-nav justify-content-evenly text-center flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link fs-1 active" aria-current="page" href="{{ site.url }}">home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-1" aria-current="page" href="{{ site.github.url }}/about">about</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-1" aria-current="page" href="{{ site.github.url }}/projects">projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-1" aria-current="page" href="{{ site.github.url }}/contact">contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>