<header class="navbar navbar-top navbar-expand-lg p-4 {% if page.title == "Home" %}navbar-dark{% else %}navbar-light{% endif %}">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            naaman hudson
        </a>
        <a class="navbar-toggle" href="#navbar-mobile-style-2" data-fancybox="" data-base-class="fancybox-navbar" data-keyboard="false" data-auto-focus="false" data-touch="false" data-close-existing="true" data-small-btn="false" data-toolbar="false">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
</header>