---
layout: default
---
<section class="container">
    <div class="row">
      <div class="col-12 col-md-12">
        {% include pagetitle.html %}
      </div>
    </div>
</section>

<section class="container-fluid section-black">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for category in page.categories %}
            <div class="col">
                <a href="{{ category.link }}">
              <div class="card p-0 img-zoom animate__animated animate__fadeInUp">
                <img src="{{ site.cloudinary_url }}{{ category.image.image }}" class="card-img-top " alt="{{ category.image.alt }}">
                <div class="card-body">
                  <h5 class="card-title">{{ category.title }}</h5>
                  <p class="card-text">{{ category.description | markdownify }}</p>

                </div>
                <div class="card-footer text-end">
                    <i class="fa fa-solid fa-right-long"></i>
                  </div>
              </div>
            </a>
            </div>
            {% endfor %}
            
          </div>
          </div>
    </div>
</section>